html{
  background-color: rgb(189, 92, 108);
 
}
.App {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}
img{
  width: 15%;
  border-radius: 4%;
}
p{
  font-weight: bold;
}
input{
  width: 24%;
  font-size: large;
  margin-bottom:1rem;
}
button{
  font-size: large;
  cursor: pointer;
  border-radius: 0.4em;
  z-index: 1;
  transition: 0.5s;

}
button:hover{
  background-color: rgb(201, 149, 159);
  transform: translateY(0) scale(1.2);
 
}